body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
    margin: 0;
}

nav {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

.container {
    margin-top: 80px;
}
.square-img {
    width: 180px;
    height: 180px;
    object-fit: cover;

    display: block;
    margin: 20px auto;

    border: 2px solid #333;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

.btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 12px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

ul {
    list-style: none;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}